<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>ok</string>
	<key>map</key>
	<dict>
		<key>EvaluateList</key>
		<dict>
			<key>description_evaluate</key>
			<real>2</real>
			<key>evaluateGoodRate</key>
			<string>0</string>
			<key>evaluateSize</key>
			<integer>3</integer>
			<key>evaluate_buyer_val</key>
			<integer>0</integer>
			<key>evaluate_info</key>
			<string>Ttt</string>
			<key>goods_name</key>
			<string>2017-07-04 11:55:28</string>
			<key>id</key>
			<integer>165</integer>
			<key>markStatus</key>
			<string>upload/userImg/head_portrait/32793/1499149527798/min.png</string>
			<key>trueName</key>
			<string>呵呵</string>
			<key>userName</key>
			<string>18810517861</string>
			<key>user_id</key>
			<integer>32793</integer>
		</dict>
		<key>StoreMessage</key>
		<dict>
			<key>addTime</key>
			<string>2013-12-24 12:55:25</string>
			<key>cut_price</key>
			<real>20</real>
			<key>full_price</key>
			<real>150</real>
			<key>id</key>
			<integer>1</integer>
			<key>ringLetterAccount</key>
			<string>93316618539</string>
			<key>store_info</key>
			<string></string>
			<key>store_logo_id</key>
			<string>resources/style/common/images/good.jpg</string>
			<key>store_name</key>
			<string>平台自营店</string>
		</dict>
		<key>commodityMessageList</key>
		<dict>
			<key>bargainMark</key>
			<string>0</string>
			<key>coupin_relevance_id</key>
			<string></string>
			<key>coupon_amount</key>
			<string></string>
			<key>coupon_name</key>
			<string></string>
			<key>gc_id</key>
			<integer>19</integer>
			<key>goods_name</key>
			<string>都市丽人</string>
			<key>goods_store_id</key>
			<integer>1</integer>
			<key>id</key>
			<integer>98487</integer>
			<key>pathMainName</key>
			<string>upload/store/1/2017/06/29/f11d9dc5-4ad1-481c-9fe7-0c1a70e3c5f7.jpg</string>
			<key>price</key>
			<string></string>
			<key>store_price</key>
			<real>199</real>
		</dict>
		<key>commodityPropertyList</key>
		<array>
			<dict>
				<key>catgoryList</key>
				<array>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>23</integer>
						<key>sequence</key>
						<integer>10</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>特体</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>22</integer>
						<key>sequence</key>
						<integer>9</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>XXXL</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>21</integer>
						<key>sequence</key>
						<integer>8</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>XXL</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>20</integer>
						<key>sequence</key>
						<integer>7</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>XL</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>19</integer>
						<key>sequence</key>
						<integer>6</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>L</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>18</integer>
						<key>sequence</key>
						<integer>5</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>M</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>17</integer>
						<key>sequence</key>
						<integer>4</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>S</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>16</integer>
						<key>sequence</key>
						<integer>3</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>XS</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>15</integer>
						<key>sequence</key>
						<integer>2</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>XXS</string>
					</dict>
					<dict>
						<key>goods_name</key>
						<string>2017-06-13 15:52:21</string>
						<key>id</key>
						<integer>14</integer>
						<key>sequence</key>
						<integer>1</integer>
						<key>spec_id</key>
						<integer>2</integer>
						<key>value</key>
						<string>均码</string>
					</dict>
				</array>
				<key>catgoryName</key>
				<string>尺码</string>
			</dict>
		</array>
		<key>dynamicSizeList</key>
		<integer>2</integer>
		<key>freightS</key>
		<dict>
			<key>fill_exempt</key>
			<string>15.00</string>
			<key>freight</key>
			<string>3.00</string>
		</dict>
		<key>goodsSizeList</key>
		<integer>182</integer>
		<key>imgList</key>
		<array>
			<dict>
				<key>addTime</key>
				<string>2017-06-29 18:43:20</string>
				<key>id</key>
				<integer>4265673</integer>
				<key>pathName</key>
				<string>https://img12.360buyimg.com/n8/jfs/t6505/68/1422501729/225016/aa98db1c/594f9fb8N05286743.jpg</string>
			</dict>
			<dict>
				<key>addTime</key>
				<string>2017-06-29 18:43:16</string>
				<key>id</key>
				<integer>4265672</integer>
				<key>pathName</key>
				<string>https://img11.360buyimg.com/n8/jfs/t5758/302/1975116768/339669/3e7b687a/592c3360Nc95441b8.jpg</string>
			</dict>
			<dict>
				<key>addTime</key>
				<string>2017-06-29 18:43:13</string>
				<key>id</key>
				<integer>4265671</integer>
				<key>pathName</key>
				<string>https://img14.360buyimg.com/n8/jfs/t6238/16/906877917/330140/eaf0b781/5947f34cN73c54335.jpg</string>
			</dict>
			<dict>
				<key>addTime</key>
				<string>2017-06-29 18:43:08</string>
				<key>id</key>
				<integer>4265670</integer>
				<key>pathName</key>
				<string>https://img14.360buyimg.com/n8/jfs/t5818/152/4638218974/209728/6ec72f78/5951d025N10d6e861.jpg</string>
			</dict>
		</array>
		<key>mapUrlList</key>
		<dict>
			<key>after_sale</key>
			<string>www.baidu.com</string>
			<key>image_text</key>
			<string>www.baidu.com</string>
			<key>standard</key>
			<string>www.baidu.com</string>
		</dict>
		<key>salesVolume</key>
		<array>
			<dict>
				<key>goods_name</key>
				<string>燃脂收腹提臀塑身衣无痕分体套装 产后动能内衣 秋冬款</string>
				<key>id</key>
				<integer>98309</integer>
				<key>pathName</key>
				<string>https://img13.360buyimg.com/n8/jfs/t1318/46/819611473/146798/1878fcfa/55a6374aN1ba4d263.jpg</string>
				<key>sales_volume</key>
				<integer>0</integer>
				<key>store_price</key>
				<real>235</real>
			</dict>
			<dict>
				<key>goods_name</key>
				<string>美体塑身衣托胸无袖塑身内衣塑形衣收腹瘦腰部束身衣</string>
				<key>id</key>
				<integer>98311</integer>
				<key>pathName</key>
				<string>https://img13.360buyimg.com/n8/jfs/t5644/40/60176935/124863/7428a885/59152985Nd5066516.jpg</string>
				<key>sales_volume</key>
				<integer>0</integer>
				<key>store_price</key>
				<real>235</real>
			</dict>
			<dict>
				<key>goods_name</key>
				<string>都市丽人</string>
				<key>id</key>
				<integer>98487</integer>
				<key>pathName</key>
				<string>https://img10.360buyimg.com/n8/jfs/t4888/135/905514546/463984/aba17096/58ea1b4dN73757177.jpg</string>
				<key>sales_volume</key>
				<integer>0</integer>
				<key>store_price</key>
				<real>199</real>
			</dict>
		</array>
		<key>storeSizeList</key>
		<integer>8</integer>
		<key>whetherCollectList</key>
		<string>0</string>
	</dict>
	<key>success</key>
	<true/>
</dict>
</plist>
